<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SalesDataMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SalesDataDO">
    <!--@mbg.generated-->
    <!--@Table sales_data-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="wh_id" jdbcType="INTEGER" property="whId" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="sales_time" jdbcType="TIMESTAMP" property="salesTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goods_id, wh_id, sales, sales_time, create_time
  </sql>
</mapper>